<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <h4 class="page-title float-left">Nhật Ký Vận Hành</h4>

                        <ol class="breadcrumb float-right">
                            <li class="breadcrumb-item"><a href="/">Quản Lý</a></li>
                            <li class="breadcrumb-item"><a href="/saleoff">Nhật Ký Vận Hành</a></li>
                            
                        </ol>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                    <div class="col-12">
                            <div class="card-box ribbon-box">
                                    <div class="ribbon ribbon-success"><i class="fa fa-search"></i> Tìm kiếm thông tin:</div>
                            <div class="card-box table-responsive text-center">
                            <div class="panel-heading">

                                    <div style="margin-top: 10px;" class="seach-form">
                                        <div class="row">
                                                <div class="input-group col-md-3">
                                                        <div class="input-group-prepend">
                                                            <div class="input-group-text">Biển số:</div>
                                                        </div>
                                                        <input id="LicensePlatesSearch" type="text" class="form-control" placeholder="VD:74A99999">
                                                    </div>
                                            <div class="col-md-3">
                                                    <div class="input-group">
                                                            <div class="input-group-prepend">
                                                            <span class="input-group-text">Từ ngày:</span>
                                                            </div>
                                                            <input id="DateStartSearch" type="text" class="form-control dateinput flatpickr-input"  readonly="readonly">
                                                        </div>
                                            </div>
                                            <div class="col-md-3">
                                                    <div class="input-group">
                                                            <div class="input-group-prepend">
                                                            <span class="input-group-text">Đến ngày:</span>
                                                            </div>
                                                            <input id="DateEndSearch" type="text" class="form-control dateinput flatpickr-input"  readonly="readonly">
                                                        </div>
                                            </div>
                                            <div class="col-md-3">
                                                    <div class="input-group" >
                                                        <div class="input-group-prepend"><span class="input-group-text">Làn xe:</span></div>
                                                        <select class="form-control" id="LaneSearch">
                                                                <option value="all"">TẤT CẢ</option>
                                                                <% ListLane.forEach((item)=>{ %>
                                                                    <option value="<%=item.LaneID%>"><%=item.LaneName%></option>
                                                               <% }) %>
                                                        </select>
                                                    </div>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:20px">
                                            <div class="col-md-8">
                                                <div class="message-search"></div>
                                            </div>
                                            <div class="col-md-4">
                                                <button type="button" class="btn btn-success btn-search-form"><i class="fa fa-search"></i> Tìm Kiếm</button>
                                                <button class="btn btn-success" type="button" id="addTrack" data-toggle="modal" data-target="#addForm"><i class="fa fa-plus"></i> Thêm xe</button>
                                                <button type="button" class="btn btn btn-purple waves-effect w-md waves-light btn-clear-search"><i class="fa fa-spinner"></i> Làm lại</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    </div>
                </div>


            <div class="row">
                <div class="col-12">
                        <div class="card-box ribbon-box">
                                <div class="ribbon ribbon-success">Nhật ký vận hành:</div>
                            
                           <div class="card-box table-responsive text-center">
                        <table id="datatable" class="table table-bordered">
                            <thead class="title-bg">
                            <tr>
                                <th>STT</th>
                                <th>User</th>
                                <th>Biển số xe</th>
                                <th>Làn</th>
                                <th>Ngày tháng</th>
                                <th>Mô tả</th>
                                <th>Xử lý</th>
                                <th>Ghi chú</th>
                                <!-- <th>Ngày Khởi Tạo</th> -->
                                <th>...</th>
                                <th>Thao tác</th>
                            </tr>
                            </thead>
                            <tbody>
                               <% ListOperatingDary.forEach((item,index)=>{ %>
                                <tr>
                                    <td><%=index+1 %></td>
                                    <td><%=item.UserName %></td>
                                    <td><%=item.LicensePlates %></td>
                                    <td><%=item.LaneName %></td>
                                    <td><%=moment(item.OperatingDiaryTime).tz("Asia/Bangkok").format("DD-MM-YYYY HH:mm")  %></td>
                                    <td><%=item.DescriptorContent %></td>
                                    <td><%=item.HandleErrorContent %></td>
                                    <td><%=item.Notes %></td>
                                    <td><i class="fa fa-eye show-image"  data-link="<%=item.Image%>"></i></td>
                                    <td>
                                        <div class="btn btn-group-xs">
                                        <% if(user.Role<3) {%>
                                                <button type="button" class="edit btn btn-success" data-id= <%=item.OperatingDiaryId %> ><i class="fa fa-pencil"></i> Sửa</button>
                                                <button type="button" class="del btn btn-danger deleteOperatingDiary" data-id= <%=item.OperatingDiaryId %> ><i class="fa fa-trash"></i> Xóa</button>
                                        <% }else if(user.Id==item.Id){ %>
                                        <button type="button" class="edit btn btn-success" data-id= <%=item.OperatingDiaryId %> ><i class="fa fa-pencil"  ></i> Sửa</button>
                                        <%} %>
                                        </div>
                                    </td>
                                </tr>
                               <% }) %>
                            </tbody>
                        </div>
                        </table>
                    </div>
                </div>
            </div> <!-- end row -->
            <!-- end row -->


        </div> <!-- container -->

    </div> <!-- content -->

    <footer class="footer text-right">
        ©2020 Etcdongha.com. All rights reserved. Code/dthnaht
    </footer>

</div>
